<h1>Search Result</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_movies.empty? %>

	<p>No Records found</p>
<% else %>

	<% @search.search_movies.each do |c| %>	
	<br>

	<div class="div">
		<h1><%= c.name %></h1>
		<p>Category: <%= c.category %></p>
	</div>

	<% end %>

	<% end %>