<footer class="footer">
  <nav>
   <div class="panel panel-default">
                       <div class="panel-footer" align="center">Copyright BookNow.com. All Rights Reserved.</div>
                    </div>
  </nav>
</footer>